@font-face {
    font-family: "Caviar Dreams";
    src: url(./caviar_dreams/CaviarDreams.ttf);
}

@font-face {
    font-family: "Caviar Dreams Bold";
    src: url(./caviar_dreams/CaviarDreams_Bold.ttf);
}

#body{
    font-family: "Caviar Dreams";
}

input:focus{
     outline: none;
 }


form{
     width: 50%;
     margin-left:auto;
     margin-right:auto;
     padding:50px;
     background:whitesmoke;
     border-radius:5px;
     position:relative;
 }

 form > div {
     float:left;margin-bottom:30px;
 }
 form > div > p{
     font-size: 20px;margin-bottom: 3px; text-align: left;
     font-family: "Caviar Dreams Bold";
 }
 form > div > input{
     font-size:18px;letter-spacing:1px;padding:  5px;border: 0;background:  whitesmoke;border-bottom: 1px solid silver;width: 100%;color: gray;
 }

 form > div > label{
    display: inline;
    font-size: 18px;
 }

 form > p:last-of-type{
     text-align: center;padding-top: 50px;display:  table;width: 100%;color:white;
 }

 form > p:last-of-type > a{
     cursor:pointer;border:0;
     padding: 10px 25px;
     background:  silver;
     border-radius:  28px;
     font-size: 12px; 
 }

/* ul {
    padding-left: 0px;
} */
form > div > div> input{
    display:inline;
}

div.label-checkbox{
    display: block;
}

label{
    display: inline;
    font-size: 16px;
}

.label-checkbox{
    display: block;
}

 .term{
     padding-top:40px;display: flex;width:  100%;align-items:  center;
 }

 .term > i{
     cursor:pointer;width:20px;
 }

 .term > span{
     font-size:12px;
 }

 /* delete */
 form > a:last-of-type{
     position:absolute;
     bottom: 10px;
     right: 15px;
     font-size:  10px;
     letter-spacing:  1px;
     font-style: italic;
 }

#continue{
    border: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
}

#continue:hover{
    transition-duration: 0.5s;
    background-color: silver;
}

/* filter */

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {

    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content li:hover {background-color: #ddd;    
    transition-duration: 0.5s;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;
}
  
  /**
* Template Name: Arsha - v4.9.1
* Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Caviar Dreams", sans-serif;
    color: #444444;
  }
  
  a {
    color: #47b2e4;
    text-decoration: none;
  }
  
  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Caviar Dreams", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #224748;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #224748;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #47b2e4;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    transition: all 0.5s;
    z-index: 997;
    padding: 0;
  }
  
  #header.header-scrolled,
  #header.header-inner-pages{
    background: #3873a3;
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  #confirm-header{
    background: #3873a3;
  }

  #header .logo a {
    color: #fff;
  }
  
  #header .logo img {
    max-height: 60px;
    object-fit: contain;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
    background-color: #6c4744;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }


  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 70vh;
    background: #4B9CD3;
    padding-top: 0px;
    
  }

  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: white;
  }
  
  #hero h2 {
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
  
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #hero .hero-img {
      text-align: center;
    }
  
    #hero .hero-img img {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }
  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f3f5fa;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #224748;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  
  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }





  /* Thank you for submitting page */
  #submit_head {
    text-align: center;
  }

  #details_par {
    text-align: center;
    color: white;
  }

  #data_ul {
    padding-left: 34%;
    padding-right: 30%;
    display: inline-block;
    list-style-type: none;
    text-align: left;
    color: white;
  }

footer {
    padding: 15px;
    background-color:#4B9CD3;
    color: white;
}

footer > p {
    margin-bottom: 0;
}

#confirm-body{
    background: #4B9CD3;
}

div.container{
    text-align: center;
}

.lenny-logo{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}