<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../favicon-white.png" rel="icon">
  <!-- <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <!-- <link href="../static/css/style.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: Arsha - v4.9.1
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <title>Lenny Menny</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js.js"></script>

    <!-- Form (overall) things -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Filtering -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body id="body">
  <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <!-- <img src="../Lenny_Sig.png" class="logo me-auto"> -->
      <!-- <h1 class="logo me-auto"><a href="/">lenny.menny</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html" class="logo me-auto"><img src="../Lenny_Sig.png" alt="" class="img-fluid"></a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>"Chasing" your favorite favorite menu items for you.</h1>
          <h2>So you don't have to.</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="../static/assets/img/Lenny.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Form ======= -->
    <div style="display:flex;width:100%;">
      <form action="#" method="post">
          <div style="width:100%;">
              <p>NAME</p>
              <input name="name" type="text" autofocus/>
          </div>
          <div style="width:100%;">
              <p>DIETARY RESTRICTIONS</p>
              <div class="label-checkbox">
                <input type="checkbox" id="gluten-free" name="diet" value="gluten-free">
                <label for="gluten-free">Gluten-free</label>
              </div>
              <div class="label-checkbox"><input type="checkbox" id="vegetarian" name="diet" value="vegetarian">
                <label for="vegetarian">Vegetarian</label></div>
              <div class="label-checkbox"><input type="checkbox" id="vegan" name="diet" value="vegan">
                <label for="vegan">Vegan</label></div>
          </div>
          <br />
          <div style="width:45%;" class="dropdown">
              <p>FAVORITE MENU ITEMS</p>
              <ul id="results">
              </ul>
              <input id="listSearch" name="food" type="text"/>
                <div class="dropdown-content">
                  <ul class='filterElements' id="myList li">
                    <span class="badge badge-pill badge-primary menuItem" onclick="addBadge(event)">Taco Beef</span>
                    <span class="badge badge-pill badge-primary menuItem">Mac & Cheese</span>
                    <span class="badge badge-pill badge-primary menuItem">French Toast</span>
                    <span class="badge badge-pill badge-primary menuItem">Chocolate Croissant</span>
                    <span class="badge badge-pill badge-primary menuItem">Cheese bread</span>
                    <span class="badge badge-pill badge-primary menuItem">Classic Cheese Pizza</span>
                  </ul>
                </div>
          </div>
          <br />
          <div style="width:45%; text-align: center; padding-left: 10%;">
              <p>PHONE NUMBER</p>
              <input name="phone" type="text"/>
          </div>
          <p style="width:100%">
            <input id="continue" type="submit" value="CONTINUE" onclick="getULItems()"></input>
          </p>
      </form> 
    </div><!-- End Form -->

  <div class="footer">
  </div>

  <footer>
    <p>Special Thanks to: Emily Chen, Isaac Frank, and Andrew Lockard for creating this site.</p>
  </footer>

  <div id="preloader"></div>
  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>
</html>