<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lenny Menny</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/js.js"></script>

    <!-- Form (overall) things -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
  </head>

  <body>
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <div style="display:flex;width:100%;">
        <form action="#" method="post">
            <div style="width:100%;">
                <p>NAME</p>
                <input name="name" autofocus>
            </div>
            <div style="width:100%;">
                <p>DIETARY RESTRICTIONS</p>
                <input name="diet">
            </div>

            <div style="width:47%;">
                <p>FAVORITE MENU ITEMS</p>
                <div>
                    <input class="form-control" id="myInput" type="text">
                    <br>
                    <ul class="list-group" id="myList">
                      <li class="list-group-item">First item</li>
                      <li class="list-group-item">Second item</li>
                      <li class="list-group-item">Third item</li>
                      <li class="list-group-item">Fourth</li>
                    </ul>  
                </div>

            </div>
            <div style="width:47%;margin-left:6%">
                <p>PHONE NUMBER</p>
                <input name="phone">
            </div>

            <p>
                <a>CONTINUE</a>
            </p>
        </form> 
    </div>
  </body>
</html>